[Unit]
Description=cellmodemd
Wants=network-pre.target

[Service]
Type=simple
ExecStart=/usr/sbin/cellmodemd -a APN-HERE
Restart=always
RestartSec=30s

[Install]
WantedBy=multi-user.target
WantedBy=network-online.target

